@import "tailwindcss";
@import "tailwindcss/preflight";

body {
    background: #999;
}

h1 {
    font-size: 2em;
}

canvas.fullscreen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100% !important;
}
