@import "tailwindcss";

@theme {
    --color-slate-850: #1a2234;
    --color-slate-950: #0a0f1a;
}

html, body {
    @apply h-full w-full overflow-hidden bg-slate-900;
}

canvas.fullscreen {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 100% !important;
}
