@import "tailwindcss";
@import "../pilatus-leptos-components/style.scss";

html, body {
    @apply h-full w-full overflow-hidden bg-background text-foreground;
}

@layer base {
    *,
    ::before,
    ::after {
        transition-property: background-color, border-color, color, fill, stroke;
        transition-duration: 400ms;
        transition-timing-function: ease;
    }

    @media (prefers-reduced-motion: reduce) {
        *,
        ::before,
        ::after {
            transition-duration: 0ms;
        }
    }
}
